{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
<div class="content">
  <div class="cards mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="updates mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp mdl-cell">
      <div class="mdl-card__title mdl-color--accent">
        <h2 class="mdl-card__title-text">About</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>This service will check SBCC-Banner for available spots every few minutes.  
        It allows for users to add contact info such as emails and phone numbers.  
        When a spot is found, the service will send messages to the contact info.  
        To pay for development, server uptime and domains, this service is not free.  
        To pay for an account (~$3), please see Nathan Wachholz(me) or Paul Grosen.  
        You can also email me at <strong>sbccalerts@gmail.com</strong><br><br>
        
        As this service is still in development, I do NOT guarantee that you will 
        get into a class, nor that this service 
        will have constant uptime, nor that it will notify you when a spot is available.
        In fact, I guarantee nothing!  Although I try my best, do not soley rely on 
        this service to get into your classes.  Make sure to frequently check the 
        official SBCC website in case this service does not work correctly.  
        If you find a class the service is not notifying you about or any other problems, please 
        contact me as soon as possible.<br><br><br>
        </p><h3>I hope this helps you!</h3>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
{% endblock %}
  
