{% extends "layout.html" %}
{% from "forms.html" import make_form, make_input_field %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="content">
  <div class="cards mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div id="create-account" class="updates mdl-card mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--10-col-phone mdl-shadow--2dp mdl-cell">
      <div class="mdl-card__title mdl-color--green">
        <h2 class="mdl-card__title-text">Create an Account</h2>
      </div>
      {% call make_form('create_user', error) %}
      {{ make_input_field("email", "email", "Email") }}
      {{ make_input_field("text", "phone", "Phone Number (not required, can be changed later)", "[0-9]{11}", "Format: <code>14567890123</code>") }}
      {{ make_input_field("password", "password", "Password", ".{6,}", "Password must be at least 6 characters") }}
      {{ make_input_field("password", "confirm", "Confirm Password", ".{6,}", "Password must be at least 6 characters") }}
      {{ make_input_field("text", "uuid", "Authorized UUID", "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}", "Format: <code>XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXX</code>") }}
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <input type="submit" class="mdl-cell mdl-cell--10-col mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Create Account" name="action">
        <div class="mdl-layout-spacer"></div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-button mdl-js-button mdl-cell"href="{{url_for('login_page')}}">I have an Account</a>
      </div>
      {% endcall %}
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
{% endblock %}
